<div class="spacebar-top">
    <div class="spacebar-top__inner">
        <header class="main-header">
            <div class="main-header__left">
                <h1 class="header-title">
                    <a href="/">{{@blog.title}}</a>
                    <span><a href="http://twitter.com/jishaal" class="header-title--small">@jishaal</a></span>
                </h1>
            </div>

            <div class="main-header__right">
                {{navigation}}
            </div>
        </header>
    </div>
</div>