<div class="nav">
    <ul>
        {{#foreach navigation}}
            <li class="nav__item {{#if current}}nav-item--current{{/if}}" role="presentation">
                <i class="icon-{{label}} nav__item__icon"></i>
                <a href="{{url absolute="true"}}" class="nav__item__link">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
    <!--<a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>-->
</div>
