html {
  box-sizing: border-box;
}

body {
    margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.site-wrapper {
    @include outer-container;
}

/*Homepage*/
.content-home-posts {
    @include outer-container(12);
    @include media($medium)  {
        //@include span-columns(6);
        //@include omega();
        margin-top: 0;
    }

    //border-left: $base-border;
}

.content-home-profile {
    @include outer-container(12);
    //@include media($medium)  {
    //    @include span-columns(6);
    //    margin-top: 0;
    //}
}

/*Footer*/
.spacebar-footer {
    border-top: $base-border;
}

.spacebar-footer__inner {
    @include outer-container;
    padding: $small-spacing $med-spacing;
}

