html {
  box-sizing: border-box;
}

body {
    margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.site-wrapper {
    @include outer-container;
}

.content-home {
    @include media($medium)  {
        @include span-columns(5);
        margin-top: 0;
    }

    border-right: $base-border;
}
