.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

.mb-base {
    margin-bottom: $small-spacing !important;
}
