.intro {
    padding: $base-spacing $med-spacing;

    @include media($medium) {
        border-right: $base-border;
        padding: 7em $med-spacing;
        @include span-columns(6);
    }
}

.intro__title {
    margin-top: 0;
    font-size: modular-scale(2);
}

.intro__subtitle {
    font-size: modular-scale(1);
    font-weight: $font-regular;
}
