.intro {
    padding: $base-spacing $med-spacing;
}

.intro__title {
    margin-top: 0;
    font-size: modular-scale(2);
}

.intro__subtitle {
    font-size: modular-scale(1);
    font-weight: $font-regular;
}
