$base-tint: tint($base-font-color, 60);

.nav {
    margin-top: em(2);
}

.nav__item {
    display: inline-block;
    position: relative;

    &:active,
    &:focus,
    &:hover {
        .nav__item__icon, .nav__item__link {
            color: $action-color;
        }
    }
}

.nav__item__link {
    display: block;
    position: relative;
    z-index: 2;
    padding: 0 $med-spacing 0 $base-spacing;
    font-weight: $font-medium;
    color: $base-tint;
    font-family: $base-font-family;
}

.nav__item__icon {
    z-index: 1;
    color: $base-tint;
    position: absolute;
    transition: color $base-duration $base-timing;
    left: -2px;
    top: 4px;
}

.icon-Articles {
    top: 6px;
    font-size: em(15);
}

.icon-About {
    top: 5px;
    left: 1px;
    font-size: em(14);
}


.pagination {
    text-align: center;
    padding: $base-spacing 0;
}
