/*Post List*/

.post-list, .post-list.no-cover {
    border-bottom: $base-border;
    background-color: $secondary-background-color;
    transition: background-color $base-duration $base-timing;

    &:hover {
        background-color: tint($secondary-background-color, 60);
    }

    &:first-child {
        border-top: $base-border;
    }
    &:last-child {
        border-bottom: none;
    }

    @include media($medium) {
        @include span-columns(6);
        //g@include omega(2n);
    }

    &.featured {
        @include span-columns(12);
    }
}

.post-list-link {
    display: block;
    width: 100%;
    padding: $base-spacing $med-spacing;
}

.post-list__title {
    font-size: modular-scale(2);
    margin-top: 0;
    margin-bottom: modular-scale(-5);
}

.post-list__excerpt {
    color: $base-font-color;
}

.post-list__image-cover {
    margin-bottom: $base-spacing;
}

.post-list__image {
    border-radius: 2px;
    display: block;
}

.featured {
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #222 no-repeat center center;
    background-size: cover;

    &:hover {
        background-color: shade($dark-gray, 30);
        &:before {
            background: rgba(0,0,0,0.8);
            transition: all 0.2s ease;
        }
    }

    .post-list__title {
        color: $white;
        font-size: modular-scale(3);
    }

    .post-list__excerpt {
        color: $white;
    }

    .post-list__inner {
        position: relative;
        margin-bottom: 3.5em;
        @include media($medium) {
            @include span-columns(6);
            @include shift(3);
        }
    }

    .post-list__title {
        margin-bottom: $small-spacing;
    }

    .post-list-link {
        position: relative;
        z-index: 2;
        padding: $large-spacing $large-spacing $large-spacing;

        @include media($medium) {
            padding: 8em 5em;
        }
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.7);
        transition: all 0.5s ease;
    }

    .post-list__inner:before {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: -50px;
        content: "Latest";
        padding: 4px 10px 5px;
        //font-size: modular-scale(0);
        color: rgba(255,255,255,0.8);
        border: rgba(255,255,255,0.5) 1px solid;
        border-radius: 4px;
        transition: all 0.5s ease;
    }

    &.no-cover {
        &:before {
            display: none;
        }

        .post-list__title {
            color: $action-color;
            transition: color $base-duration $base-timing;
        }

        .post-list__excerpt {
            color: $base-font-color;
        }

        .post-list__inner:before {
            color: rgba(0,0,0,0.5);
            border-color: rgba(0,0,0,0.2);
        }

        &:hover {
            .post-list__title {
                color: tint($action-color, 20%);
            }
        }
    }
}



/*Post Single*/
.post-single {
    padding: $base-spacing $small-spacing;
    word-wrap: break-word;

    @include media($medium) {
        @include outer-container(70%);
    }

}
.post-single__title {

    margin-bottom: 0;
}

.post-single p {
    font-family: $paragraph-font-family;
    font-weight: $font-thin;
    font-size: em(15);

    @include media($medium) {
        font-size: modular-scale(0);
    }
}

.post-content ul {
    font-family: $paragraph-font-family;
    list-style: disc;
    margin: 0 0 $base-spacing $base-spacing;
    font-size: em(15);

    @include media($medium) {
        margin-left: $large-spacing;
        font-size: modular-scale(0);
    }

    li {
        margin: $small-spacing 0;
    }
}

/*Tags*/
.tags {
    list-style: none;
    margin: $small-spacing 0 $base-spacing;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}

.tag-item {
    background: $lighter-gray;
    font-size: modular-scale(-1);
    border-radius: 3px;
    display: inline-block;
    height: modular-scale(2);
    line-height: modular-scale(2);
    padding: 0 $small-spacing;
    margin: 0 $small-spacing $small-spacing 0;
    text-decoration: none;

    &:hover {
        background-color: $action-color;
        color: white;
    }
}

/*Post footer*/
.tags {
    list-style: none;
    margin: $small-spacing 0 $base-spacing;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}

.tag-item {
    background: $lighter-gray;
    font-size: modular-scale(-1);
    border-radius: 3px;
    display: inline-block;
    height: modular-scale(2);
    line-height: modular-scale(2);
    padding: 0 $small-spacing;
    margin: 0 $small-spacing $small-spacing 0;
    text-decoration: none;

    &:hover {
        background-color: $action-color;
        color: white;
    }
}

/* Post footer */
.post-footer {
    position: relative;
    margin: 6rem 0 0 0;
    padding: 4rem 0 0 0;
    border-top: $base-border;
    text-align: center;

    @include media($medium) {
        .author {
            text-align: left;
            @include span-columns(6);
        }

        .share {
            @include span-columns(6);
            text-align: right;
        }
    }
}

.author-image {
    display: block;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    padding: 6px;
    background: $white;
    z-index: 2;
    box-shadow: #E7EEF2 0 0 0 1px;
    .img {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        border-radius: 100%;
    }
}

.share {
    a {
        font-size: modular-scale(2);
    }
}

.read-next {
    border-top: $base-border;
    padding: $base-spacing ;
    margin-top: 5rem;
    background-color: $secondary-background-color;

    p {
        margin-bottom: 0;
        color: $base-font-color;
    }

    h2 {
        margin-top: 0;
    }

}

.read-next-story {
    display: block;
    padding: $base-spacing 0 $base-spacing;
    border-bottom: $base-border;

    &:last-child {
        border-bottom: none;
    }
}

.read-next__title {
    margin-bottom:0;
}
