.post {
    padding: $small-spacing;
    border-bottom: $base-border;

    &:hover {
        background-color: $secondary-background-color;
    }
}

.post-title {

}

.post-excerpt {
    color: $base-font-color;
}
